@charset "UTF-8";

table {
	border-collapse: collapse;
	margin: 0 auto; /* 테이블을 수평으로 가운데 정렬합니다. */
}

.itemDetailWrap table {
	width: 900px;
}

.thumb-info img {
	width: 520px;
	height: 520px;
}

.detil-title {
	margin-left: 20px;
}

.detil-sale {
	margin-top: 10px;
}

.option-tbl {
	margin-top: 10px;
}

/* 상품 서브 이미지 조절 */
.itemIMGWrap {
	width: 770px; /* 원하는 가로 사이즈로 설정 */
	margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백을 자동으로 조정 */
}

.imageContainer {
	display: flex; /* 이미지를 가로로 나란히 정렬하기 위해 Flexbox 사용 */
	justify-content: space-between; /* 이미지 사이의 간격을 동일하게 설정 */
}

.imageContainer img {
	max-width: 100%; /* 이미지의 최대 너비를 부모 요소의 너비에 맞춰서 설정 */
	height: auto; /* 이미지의 높이를 자동으로 조정하여 비율 유지 */
}

/* 장바구니, 바로결제 버튼 디자인 */
.button {
	padding: 2% 0 2% 3%;
}

.button_quantity {
	margin-bottom: 2%;
}

.button_quantity input {
	height: 26px;
	width: 40px;
	text-align: center;
	font-weight: bold;
}

.button_quantity button {
	border: 1px solid #aaa;
	color: #3a60df;
	width: 20px;
	height: 20px;
	padding: 3px;
	background-color: #fff;
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
}

.btn_cart {
	display: inline-block;
	width: 140px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background-color: #5e6b9f;
	border: 1px solid #5e6b9f;
	color: #fff;
	margin-right: 2px;
}

.btn_buy {
	display: inline-block;
	width: 140px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background-color: #7b8ed1;
	border: 1px solid #7b8ed1;
	color: #fff;
}

.ws_icon {width:50px; height:50px; display: inline-block; text-align: center; float:right;}
.ws_icon > span {border:0; border-radius:50px; width:50px; height:50px; background-color:#c4c7ba; display: inline-block; text-align: center;}
.ws_icon > span > i {font-size:29px; line-height:51px;}