<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shard.mapper.ItemReplyMapper">

	<select id="getReplyList" resultType="com.shard.domain.ItemReplyVO">
        SELECT * FROM ITEMREPLY WHERE itemNum = #{itemNum} order by replyNum asc;
    </select>
	
	<insert id="insertReply">
		insert into ITEMREPLY(replyTitle, replyContent, starScore, img1, itemNum)
			values(#{replyTitle}, #{replyContent}, #{starScore}, #{img1}, #{itemNum});
	</insert>
	
	<update id="updateReply">
		update ITEMPEPLY set 
		replyTitle = #{replyTitle}, replyContent = #{replyContent}, starScore = #{starScore}, itemRepRegDate = #{itemRepRegDate}, img1 = #{img1}, itemNum = #{itemNum} 
		where email = #{email}
	</update>
	
	<select id="readReply" resultType="com.shard.domain.ItemReplyVO">
		select * from itemReply where itemNum=#{itemNum}
	</select>
	
	<delete id="deleteReply">
		delete from ITEMREPLY where replyNum = #{replyNum}
		<!-- where userId = #{userId} -->
	</delete>
	
	<!-- 댓글 페이징 -->
	<select id ="replyList" resultType="com.shard.domain.ItemReplyVO">
	<![CDATA[
		select * from ITEMREPLY
		where replyNum > 0 AND replyTitle IS NOT NULL AND replyTitle != ''
		order by replyNum desc
		LIMIT #{start}, #{amount}
		]]>
	</select>
	
	<select id ="totalCount" resultType="int">
	<![CDATA[
		select count(*) from ITEMREPLY where itemNum = #{itemNum}
		]]>
	</select>
	
	<!-- getItemNumByReplyNum 메서드에 대한 SQL 쿼리 -->
    <select id="getItemNumByReplyNum" resultType="int" parameterType="int">
    <![CDATA[
        select itemNum
        from ITEMREPLY
        where replyNum = #{replyNum}
        ]]>
    </select>
	
</mapper>
	